*{
    padding: 0;
    margin: 0;
}
.container-div{
    position: relative;
    margin: 50px auto;
    width: 550px;
    height: 550px;
    background: rgb(0, 255, 21);
}
.container-div__div1{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 25px;
    width: 150px;
    height: 150px;
    background: red;
}
.container-div__div2{
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 25px;
    width: 150px;
    height: 150px;
    background: blue;
}
.container-div__div3{
    position: absolute;
    bottom: 0px;
    left: 0;
    text-align: center;
    font-size: 25px;
    width: 150px;
    height: 150px;
    background: green;
}
.container-div__div4{
    position: absolute;
    bottom: 0px;
    right: 0;
    text-align: center;
    font-size: 25px;
    width: 150px;
    height: 150px;
    background: orange;
}
.container-div__div5{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto ;
    text-align: center;
    font-size: 25px;
    width: 150px;
    height: 150px;
    background: cornflowerblue;
}